<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-lowercase ion-text-center texto" >
      HOME PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <div class="ion-text-center">
       <strong class="texto">
         {{this.titulo}}
       </strong>
     </div>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-center">
        <img class="imagen" [src]="this.srcImg" alt="imagen" >
         <div>
          <ion-button  fill="clear" size="large">
            <ion-icon name="locate"  color="danger"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>

  </ion-card> 
<ion-button (click)="goToPago()" > ir a pagar</ion-button>
<ion-button (click)="goToSocket()" > ir a socket</ion-button>
</ion-content>
