<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="ion-text-center">PAGOS</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card >
    <ion-card-header style="margin: 0px !important; padding: 0px !important;">
<h1 class="ion-text-center">DETALLE DE PAGO</h1>
<div class="ion-text-center"><img src="./assets/icon/card.svg" style="height: auto; width:70% ;"></div>
    </ion-card-header>

  <ion-card-content style="margin: 0px !important; padding: 0px !important;">
   <div class="ion-text-center">
    <ion-row style="margin-bottom: 10px;">
      <ion-item style="width: 100%; --inner-border-width: 3px; " class="ion-text-center" lines="none"> <ion-input  placeholder="CARD" [(ngModel)]="num" type="tel" pattern="[0-9]*" minlength="16" maxlength="16"></ion-input></ion-item>
            </ion-row>
           <ion-item style="width: 100%; --inner-border-width: 3px; " class="ion-text-center"  lines="none">
            <ion-row class="ion-text-center">
              <ion-col size="6">
          
              <ion-row class="ion-text-center"  >
                <ion-col   size="6" >
                <ion-input type="tel" placeholder="MES" [(ngModel)]="monthexp"  minlength="2" maxlength="2"></ion-input>
                </ion-col>
                <ion-col  size="6">
                  <ion-input type="tel" placeholder="AÑO" [(ngModel)]="yearexp"  minlength="2" maxlength="2"></ion-input>
                </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="6" >
              <ion-input type="tel" placeholder="CVV" [(ngModel)]="cvv"  minlength="3" maxlength="3" ></ion-input>
            </ion-col>
            </ion-row>
           </ion-item>

            <!-- <ion-list>
              <ion-radio-group [(ngModel)]="tipo" >
                <ion-item *ngFor="let item of this.options">
                  <ion-label>{{item.nombre}}</ion-label>
                  <ion-radio slot="start"  value="{{item.id}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
             </ion-list> -->
             <ion-row>
               <h1>{{tipo}}</h1>
             </ion-row>
       <div class="ion-text-center">
        <ion-button  size="large" (click)="pagar()"  shape="round" fill="clear">Pagar</ion-button>
       </div>
   </div>
      
  </ion-card-content>
  </ion-card>

</ion-content>
