.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-size: 15px;
    }
    .fondo{
    --background: #4A6572 !important;
    }